<h2><%= l(:label_mywiki_edit) %></h2>

<% form_for :mywiki, @mywiki,   :url => {:action => 'text_update'}, :html => {:id => 'mywiki_form'} do |f| %>
  <%= error_messages_for 'content' %>

  <div class="box tabular">
  <%= text_area_tag 'content[text]', @mywiki.text, :cols => 100, :rows => 25, :class => 'wiki-edit', :accesskey => accesskey(:edit) %>
  </div>

  <%= submit_tag l(:button_save) %>
  <%= wikitoolbar_for 'content_text' %>
<% end %>

