<h3 class="message"><%=l(:label_watched_boards)%></h3>
<% boards = Board.includes([:project, :watchers]).
  references([:project, :watchers]).
  where("#{Watcher.table_name}.user_id = ? ", user.id).
  order("#{Board.table_name}.project_id, #{Board.table_name}.id").
  limit(10) %>
<%= render :partial => 'boards/list_simple', :locals => { :boards => boards } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_customize', :plugin => 'redmine_my_customize' %>
<% end %>

