<h3 class="message"><%=l(:label_recent_messages)%></h3>
<% reported_messages = Message.
  where(:author_id => user.id).
  order(updated_on: :desc).
  limit(10) %>
<%= render :partial => 'messages/list_simple', :locals => { :messages => reported_messages } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_customize', :plugin => 'redmine_my_customize' %>
<% end %>

