<h3 class="wiki"><%= l(:label_mywiki) %></h3>
<% mywiki = Mywiki.find(:all, :conditions => ["assigned_to_id=?", User.current])%>
<% mywikitext = mywiki[0].text if mywiki.length > 0 %>

<%= link_to(l(:label_mywiki_edit), { :controller => 'mywiki', :action => 'edit' }, { :class => "icon icon-edit" } ) %>

<hr>

<div class="wiki">
  <%= textilizable( mywikitext) %>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_customize', :plugin => 'redmine_my_customize' %>
<% end %>

